@model IEnumerable<OnlineShopApp.Models.ProductCategory>

<div class="list-group">
@foreach (var item in Model)
{
    <a href="#" class="list-group-item">
        @if (!string.IsNullOrWhiteSpace(item.ImagePath))
        {
            <img class="image-dimens-48px" src="@Url.Content("~/Content/Images/Upload/" + item.ImagePath)" alt="product-category" />
        }
        else
        {
            <i class="fas fa-th big-icon"></i>
        }
        @item.Name
    </a>
}
</div>
